/* Body */
body {
	background-color: rgb(15, 14, 14);
	background-blend-mode: multiply, multiply;
	background-blend-mode: multiply;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-position: center center;
	min-height: max-content;
}

.body_flex {
	display: flex;
	justify-content: center;
}

/* Title */

h1 {
	font-weight: normal;
	color: #483018;
	font-size: 4rem;
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 0rem;
	height: auto;
}

span {
	color: #d84800;
}

/* Count-down timer */

.countdown-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 7rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	min-width: 100%;
	/* background-color: aqua; */
}

.big-text {
	font-weight: bold;
	font-size: 3rem;
	line-height: 1;
	margin: 0 2rem;
	color: #d84800;
}

.countdown-el {
	text-align: center;
	width: 200px;
}

.countdown-el span {
	color: #f0a848;
	font-size: 2rem;
	-webkit-text-stroke: 0.1px black;
}

p {
	color: #d84800;
}

label {
	color: #f0a848;
	font-size: 25px;
}

/* Input box */

.input-div {
	text-align: center;
}

button {
	margin: 20px;
	outline: none;
	color: #f0a848;
}

.submit-button {
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid #d84800;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.btn-2:after {
	position: absolute;
	content: '';
	top: 5px;
	left: 6px;
	width: 90%;
	height: 70%;
	border: 1px solid #d84800;
	opacity: 0;
	transition: all 0.3s ease;
}
.btn-2:hover:after {
	opacity: 1;
}

.date-input {
	width: 180px;
	height: 60px;
	font-size: 20px;
	background-color: rgb(15, 14, 14);
	color: #483018;
	border: 1px solid #d84800;
	font-family: 'Poppins', sans-serif;
}

.date-input::-webkit-calendar-picker-indicator {
	opacity: 0;
}
